{
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
