.atm-keypad {
  background-color: #222;
  border: 2px solid #666;
  border-radius: 8px;
  padding: 10px;
  max-width: 25vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.display {
  background-color: #444;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 10px;
  font-family: 'DINEngschrift', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attempts_display {
  margin-top: var(--typography-spacing-vertical);
  text-align: center;
}

.keypad .row {
  display: flex;
  justify-content: space-around;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border: 2px solid #666;
  border-radius: 6px;
  background-color: #444;
  font-family: 'DINEngschrift', sans-serif;
  font-size: 2rem;
  padding: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  transition: all 0.2s ease-in-out;
  // Disable user select
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  background-color: #666;
  border-color: #888;
}

.btn:active {
  background-color: #888;
  border-color: #aaa;
}

.btn:focus {
  outline: none;
  --box-shadow: none;
}

[role='button'] {
  width: 10rem;
}
