.atm-keypad {
  border-radius: 8px;
  padding: 10px;
  user-select: none;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 10px;
  height: 60px;
  font-size: 2rem;
  text-align: center;
}

.attempts-display {
  margin-top: var(--typography-spacing-vertical);
  text-align: center;
}

.keypad .row {
  display: flex;
  justify-content: space-around;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin: 0.5rem;
  border-radius: 6px;
  padding: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  user-select: none;
}

.btn:focus {
  outline: none;

  --box-shadow: none;
}

.btn.red {
  color: var(--red);
}

.btn.green {
  color: var(--green);
}

.btn-inverted {
  user-select: none;
}

[role='button'] {
  display: flex;
  justify-content: center;
  margin: 0 auto var(--typography-spacing-vertical) auto;
  width: 10rem;
}
