@import './colors';
@import './theme';

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.icon {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.pointer {
  cursor: pointer;
}

.bold {
  margin-left: 0.25rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

div.grid.combo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

@media (width <= 768px) {
  .container {
    min-height: 80vh;
  }

  div.grid.combo {
    grid-template-columns: repeat(3, 1fr);
  }

  dialog article {
    max-height: calc(80vh - var(--spacing) * 2);
  }
}
