/* stylelint-disable no-descending-specificity */

// Indigo Light scheme (Default)
// Can be forced with data-theme="light"
[data-theme='light'],
:root:not([data-theme='dark']) {
  .header,
  .footer {
    [role='link'],
    a {
      color: hsl(205deg 20% 32%);
    }
  }
}

// Indigo Dark scheme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    .header,
    .footer {
      [role='link'],
      a {
        color: hsl(205deg 16% 77%);
      }
    }
  }
}

// Indigo Dark scheme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme='dark'] {
  .header,
  .footer {
    [role='link'],
    a {
      color: hsl(205deg 16% 77%);
    }
  }
}

:root {
  --red: #d63031;
  --green: #00b894;
}
