/* stylelint-disable no-descending-specificity */

// Indigo Light scheme (Default)
// Can be forced with data-theme="light"
[data-theme='light'],
:root:not([data-theme='dark']) {
  .header,
  .footer {
    [role='link'],
    a {
      color: hsl(205deg 20% 32%);
    }
  }

  .atm-keypad {
    border: 2px solid var(--pico-card-border-color);
    background-color: var(--pico-card-sectioning-background-color);
  }

  .display {
    border: 2px solid var(--pico-card-border-color);
    background-color: var(--pico-card-background-color);
    color: var(--pico-color);
  }

  .btn {
    border: 2px solid var(--pico-card-border-color);
    background-color: var(--pico-card-sectioning-background-color);
    color: var(--pico-h5-color);
  }

  .btn:hover {
    border-color: var(--pico-card-border-color);
    background-color: var(--pico-card-background-color);
  }

  .btn:active {
    border-color: #aaa;
    background-color: var(--pico-card-background-color);
  }

  // Inverted button when not tried
  .btn-inverted {
    border: 2px solid var(--pico-card-border-color);
    background-color: var(--pico-card-sectioning-background-color);
    color: var(--pico-h5-color);
  }

  .btn-inverted:hover {
    border-color: var(--pico-card-border-color);
    background-color: var(--pico-card-background-color);
  }

  .btn-inverted:active {
    border-color: var(--pico-card-border-color);
    background-color: var(--pico-card-background-color);
  }

  .btn.pressed {
    background-color: var(--pico-primary);
    color: var(--pico-color);
  }
}

// Indigo Dark scheme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-primary-focus: #3b3948;

    .header,
    .footer {
      [role='link'],
      a {
        color: hsl(205deg 16% 77%);
      }
    }

    .atm-keypad {
      border: 2px solid var(--pico-card-border-color);
      background-color: var(--pico-card-sectioning-background-color);
    }

    .display {
      border: 2px solid var(--pico-card-border-color);
      background-color: var(--pico-card-background-color);
      color: var(--pico-color);
    }

    .btn {
      border: 2px solid var(--pico-card-border-color);
      background-color: var(--pico-card-background-color);
      color: var(--pico-h5-color);
    }

    .btn:hover {
      border-color: var(--pico-card-border-color);
      background-color: #3b3948;
    }

    .btn:active {
      border-color: #aaa;
      background-color: #3b3948;
    }

    .btn-inverted {
      border: 2px solid var(--pico-card-border-color);
      background-color: var(--pico-card-sectioning-background-color);
      color: var(--pico-h5-color);
    }

    .btn-inverted:hover {
      border-color: var(--pico-card-border-color);
      background-color: #3b3948;
    }

    .btn-inverted:active {
      border-color: #aaa;
      background-color: #3b3948;
    }

    .btn.pressed {
      background-color: var(--pico-primary);
      color: var(--pico-color);
    }
  }
}

// Indigo Dark scheme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme='dark'] {
  --pico-primary-focus: #3b3948;

  .header,
  .footer {
    [role='link'],
    a {
      color: hsl(205deg 16% 77%);
    }
  }

  .atm-keypad {
    border: 2px solid var(--pico-card-border-color);
    background-color: var(--pico-card-sectioning-background-color);
  }

  .display {
    border: 2px solid var(--pico-card-border-color);
    background-color: var(--pico-card-background-color);
    color: var(--pico-color);
  }

  .btn {
    border: 2px solid var(--pico-card-border-color);
    background-color: var(--pico-card-background-color);
    color: var(--pico-h5-color);
  }

  .btn:hover {
    border-color: var(--pico-card-border-color);
    background-color: #3b3948;
  }

  .btn:active {
    border-color: #aaa;
    background-color: #3b3948;
  }

  .btn-inverted {
    border: 2px solid var(--pico-card-border-color);
    background-color: var(--pico-card-sectioning-background-color);
    color: var(--pico-h5-color);
  }

  .btn-inverted:hover {
    border-color: var(--pico-card-border-color);
    background-color: #3b3948;
  }

  .btn-inverted:active {
    border-color: #aaa;
    background-color: #3b3948;
  }

  .btn.pressed {
    background-color: var(--pico-primary);
    color: var(--pico-color);
  }
}

:root {
  --red: #d63031;
  --red-shade: #ab2627;
  --red-tint: #de595a;
  --green: #00b894;
}

// Warning button
button.warning {
  border: var(--pico-border-width) solid var(--red-tint);
  background-color: var(--red);
  color: white;
}

button.warning:hover {
  border-color: var(--red-shade);
  background-color: var(--red-tint);
}

.btn-inverted.tried,
.btn-inverted.tried:hover {
  background-color: var(--red) !important;
  color: var(--pico-color) !important;
}

.btn-inverted.correct,
.btn-inverted.correct:hover {
  background-color: var(--green) !important;
  color: var(--pico-color) !important;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}
