.wrapper {
    width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

@font-face {
    font-family: "Roboto";
    src: url("/Assets/fonts/Roboto-Regular.ttf") format("truetype");
}

:root {
    font-family: "Roboto", sans-serif;
    background-color: #2b2a33;
    color: #fff;
}
