.container {
    // display: flex;
    // flex-direction: column;
    // flex: 1 1 100%;
    // justify-content: flex-start;
    // align-items: center;
    // min-height: 100vh;

    // &__top {
    //     margin: 100px;
    // }

    // &__middle {
    //     display: flex;
    //     flex: 1 1 100%;
    //     justify-content: center;
    //     align-items: flex-start;
    // }
}

.wrapper {
    width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

@font-face {
    font-family: "Roboto";
    src: url("/Assets/fonts/Roboto-Regular.ttf") format("truetype");
}

:root {
    background-color: #2b2a33;
}
