@font-face {
    font-family: "Roboto";
    src: url("/Assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DINEngschrift";
    src: url("/Assets/fonts/DINEngschrift-Regular.ttf") format("truetype");
}

:root {
    font-family: "Roboto", sans-serif;
    background-color: #2b2a33;
    color: #fff;
}

.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.atm-keypad {
    background-color: #222;
    border: 2px solid #666;
    border-radius: 8px;
    padding: 10px;
    max-width: 25vw;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display {
    background-color: #444;
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 10px;
    font-family: "DINEngschrift", sans-serif;
    font-size: 4vw;
    text-align: center;
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Centre combinationDisplay on screen
.combinationDisplayContainer {
    padding-top: 10px;
    margin: auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.combinationDisplay {
    font-size: 10vw;
    font-family: "DINEngschrift", sans-serif;
}

.combinationDisplayContainer .btn {
    margin-top: 10px;
}

.keypad .row {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 2vw 4vw;
    font-size: 3vw;
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 100vw;
    }

    .content {
        align-items: flex-start;
    }

    .atm-keypad {
        max-width: 100%;
    }

    .display {
        font-size: 3rem;
    }

    .combinationDisplay {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .display {
        font-size: 2rem;
    }

    .combinationDisplay {
        font-size: 5rem;
    }
}
