/* style.scss */

.background {
    background-color: #1c1b22;
    width: 100%; /* Full width */
}

.header {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    max-width: 1360px; /* Set a max-width for content */
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.icons {
    display: flex;
    gap: 0.75rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}
