.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: var(--card-sectionning-background-color);
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.OFFLINEMODE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  justify-self: start;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .icon {
  margin-right: 0.25rem;
}
