// .header-bg {
//   background-color: var(--card-sectionning-background-color);
//   width: 100%;
// }

.header {
  padding: 0.25rem 1rem;
  background-color: var(--card-sectionning-background-color);
  width: 100%;
  // max-width: 1130px;
  // margin: 0 auto;
}

.OFFLINEMODE {
  text-align: center;
}

.logo {
  justify-content: flex-start;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .icon {
  margin-right: 0.25rem;
}
