.footer {
  padding: 0.25rem 1rem;
  background-color: var(--card-sectionning-background-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

:global(a span) {
  font-weight: bold;
}

.made_by {
  text-align: center;
}

.version {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.version .icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}
