.footer {
  display: grid;
  position: fixed;
  bottom: 0;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--card-sectionning-background-color);
  padding: 0.25rem 1rem;
  width: 100%;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(a span) {
  font-weight: bold;
}

.made-by {
  text-align: center;
}

.version {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.version .icon {
  margin-right: 0.25rem;
  width: 1rem;
  height: 1rem;
}
