.footer {
    font-family: "Roboto", sans-serif;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #1c1b22;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

.footer a span {
    font-weight: bold;
}

.made_by {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.version {
    display: flex;
    align-items: center;
}

.version .icon {
    fill: #f14e32;
    width: 24px;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}
