.image-content {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .bg-image {
        background-image: url("../../Assets/images/github-mark-white.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
    }
}
